a{
    color:#E7501C;
    }
	
a:hover{
    color:#E7501C;
    }

.container{
    margin-top:50px;
}

header{
	border-bottom:1px solid #ccc;
	padding-bottom:15px;
	position:relative;
	}
	
header #idiomes{
	position:absolute;
	right:80px;
	bottom:10px;
}

header #close{
	position:absolute;
	right:0;
	bottom:10px;}

	
.wrapper_buttons{
	margin-bottom:10px;}
	
.wrapper_content{
	min-height:454px;
}
	
	
.my-inner{
	border:1px solid #ccc;
	padding:0 15px 0 15px;
	/*min-height:454px;	*/
	-moz-box-shadow: 2px 2px 3px #ccc;
	-webkit-box-shadow: 2px 2px 3px #ccc;
	box-shadow: 2px 2px 3px #ccc;	
}
	
.header_participants{
	background:#eee;
	border-bottom:1px solid #ccc;
	padding:5px 0;
	}
	
.header_participants .btn-group{
	float:right;	
}

.participant{
	border-left:1px solid #ccc;
	border-bottom:1px solid #ccc;
	/*padding-top:20px;*/ 
	padding-bottom:30px;
	margin-bottom:20px;
	border:1px solid #ccc;
}

.participant .participant_content{
	margin:0 auto; 
	text-align:left; 
	display:block;
	width:215px;
}

.participant:first-child{
	border-left:none;
}
	
	
/*.participant img{
	margin-bottom:20px;
	border:1px solid #ccc;
}*/

.header_chat{
	text-transform:uppercase;
	border-bottom:1px solid #ccc;
	padding:5px 0 5px 15px;
}

.wrapper_chat{
	margin-top:10px;
	margin-bottom:10px;
	border:1px solid #ccc;
	padding:5px;
	height:280px;
	overflow:auto;}
	
.aside .my-inner{
	padding-bottom:15px;}
	
.modal-body{
	text-align:center;
	margin-bottom:20px;}
	
/* recorder*/

.wrapper_recorder{
	margin-top:20px;
	margin-bottom:20px;
}
/* search */

header#search{
    background-color:#E7501C;}

header#search div.container{
    margin-top:0;}	

.button_actions {
    text-align:center;
    height: 20px;
}
/* slider */
section {
	width: 150px;
	height: auto;
	margin: 10px auto 0;
	position: relative;
}

#slider{
	border-width: 1px;
	border-style: solid;
	border-color: #333 #333 #777 #333;
	border-radius: 25px;
	width: 100px;
	position: absolute;
	height: 13px;
	background-color: #8e8d8d;
	background: url('images/bg-track.png') repeat top left;
    box-shadow: inset 0 1px 5px 0px rgba(0, 0, 0, .5), 
    				  0 1px 0 0px rgba(250, 250, 250, .5);
    left: 20px;
}
.tooltip {
	position: absolute;
	display: block;
	top: -25px;
	width: 35px;
	height: 20px;
	color: #fff;
	text-align: center;
	font: 10pt Tahoma, Arial, sans-serif ;
	border-radius: 3px;
	border: 1px solid #333;
    -webkit-box-shadow:  1px 1px 2px 0px rgba(0, 0, 0, .3);
    box-shadow:  1px 1px 2px 0px rgba(0, 0, 0, .3);
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background: -moz-linear-gradient(top,  rgba(69,72,77,0.5) 0%, rgba(0,0,0,0.5) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,72,77,0.5)), color-stop(100%,rgba(0,0,0,0.5))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(69,72,77,0.5) 0%,rgba(0,0,0,0.5) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(69,72,77,0.5) 0%,rgba(0,0,0,0.5) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(69,72,77,0.5) 0%,rgba(0,0,0,0.5) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(69,72,77,0.5) 0%,rgba(0,0,0,0.5) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8045484d', endColorstr='#80000000',GradientType=0 ); /* IE6-9 */
}
.volume {
	content: "";
	display: inline-block;
	width: 25px;
	height: 25px;
	right: -5px;
	background: url('images/volume.png') no-repeat 0 -50px;
	position: absolute;
	margin-top: -5px;
}
.ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 25px;
	height: 25px;
	cursor: pointer;
	background: url('images/handle.png') no-repeat 50% 50%;
	font-weight: bold;
	color: #1C94C4;
	outline: none;
	top: -7px;
	margin-left: -12px;
}
.ui-slider-range {
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #eaeaea 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#eaeaea)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#eaeaea 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#eaeaea 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#eaeaea 100%); /* IE10+ */
	background: linear-gradient(top,  #ffffff 0%,#eaeaea 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 ); /* IE6-9 */
	position: absolute;
	border: 0;
	top: 0;
	height: 100%;
	border-radius: 25px;
}


/*#sliderPlay .ui-slider-range { 
	border: 0;
	top: 0;
	height: 100%;
	width: 300px;
        background: #333; 
	
}*/
#sliderPlay{
	border-width: 1px;
	border-style: solid;
	border-color: #333 #333 #777 #333;
	border-radius: 25px;
	width: 620px;
	position: absolute;
        top: 7px;
	height: 13px;
	background-color: #8e8d8d;
	background: url('images/bg-track.png') repeat top left;
    box-shadow: inset 0 1px 5px 0px rgba(0, 0, 0, .5), 
    				  0 1px 0 0px rgba(250, 250, 250, .5);
    margin-left: 100px;
}
#sliderPlay .ui-slider-handle {
	z-index: 2;
	width: 25px;
	height: 25px;
	cursor: pointer;
	background: url('images/handle.png') no-repeat 50% 50%;
	font-weight: bold;
	color: #1C94C4;
	outline: none;
        width: 25px;
}
input.videochat-btn-secundary, a.videochat-btn-secundary {
    font-family: Arial, Helvetica, sans-serif;
    background: #fff;
    color: #E7501C;
    border: 1px solid #E7501C;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    min-width: 90px;
    height: 28px;
    line-height: 28px;
    padding: 1px 10px;
    font-size: 1em;
    text-decoration: none;
}
.lock{
       background:url(images/glyphicons_203_lock.png) no-repeat;
       width: 14px;
       height: 20px;
       margin: 0;
       display: block;
}
       
.unlock{
       background:url(images/glyphicons_204_unlock.png) no-repeat;
       width: 14px;
       height: 20px;
       margin: 0;
       display: block;
}