.container{
	margin-top:50px;
}
	
header{
	border-bottom:1px solid #ccc;
	padding-bottom:15px;
	position:relative;
	}
	
header #idiomes{
	position:absolute;
	right:80px;
	bottom:10px;
}

header #close{
	position:absolute;
	right:0;
	bottom:10px;}

	
.wrapper_buttons{
	margin-bottom:10px;}
	
.wrapper_content{
	min-height:454px;
}
	
	
.my-inner{
	border:1px solid #ccc;
	padding:0 15px 0 15px;
	/*min-height:454px;	*/
	-moz-box-shadow: 2px 2px 3px #ccc;
	-webkit-box-shadow: 2px 2px 3px #ccc;
	box-shadow: 2px 2px 3px #ccc;	
}
	
.header_participants{
	background:#eee;
	border-bottom:1px solid #ccc;
	padding:5px 0;
	}
	
.header_participants .btn-group{
	float:right;	
}

.participant{
	border-left:1px solid #ccc;
	border-bottom:1px solid #ccc;
	/*padding-top:20px;*/ 
	padding-bottom:30px;
	margin-bottom:20px;
	border:1px solid #ccc;
}

.participant .participant_content{
	margin:0 auto; 
	text-align:left; 
	display:block;
	width:215px;
}

.participant:first-child{
	border-left:none;
}
	
	
/*.participant img{
	margin-bottom:20px;
	border:1px solid #ccc;
}*/

.header_chat{
	text-transform:uppercase;
	border-bottom:1px solid #ccc;
	padding:5px 0 5px 15px;
}

.wrapper_chat{
	margin-top:10px;
	margin-bottom:10px;
	border:1px solid #ccc;
	padding:5px;
	height:280px;
	overflow:auto;}
	
.aside .my-inner{
	padding-bottom:15px;}
	
.modal-body{
	text-align:center;
	margin-bottom:20px;}
	
/* recorder*/

.wrapper_recorder{
	margin-top:20px;
	margin-bottom:20px;
}